<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2019.7.0" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base" version="17.3.0.14" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="17.3.0.14" targetFramework="net46" />
  <package id="Syncfusion.Pdf.AspNet" version="17.3.0.14" targetFramework="net46" />
</packages>